<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Pesquisa sobre hospedagem com HTML e Python</h1>

    <hr>

    <div class="python">

        <div class="paragrafo">
            <h2>O que é Python?</h2>
            <p>Python é uma linguagem de programação de alto nível, interpretada e de propósito geral. Criada por Guido van Rossum no início dos anos 90, sua filosofia foca na legibilidade do código e na simplicidade.</p>
        </div>
    
        <div class="paragrafo">
            <h3>Para que serve?</h3>
            <p>Diferente de algumas linguagens que são nichadas, o Python é como um "canivete suíço":
                <ul>
                    <li><strong>Data Science e IA:</strong> É a linguagem número 1 para análise de dados e aprendizado de máquina.</li>
                    <li><strong>Desenvolvimento Web:</strong> Através de frameworks como Django e Flask.</li>
                    <li><strong>Automação e Scripting:</strong> Criar robôs para tarefas repetitivas (planilhas, e-mails, web scraping).</li>
                    <li><strong>Desenvolvimento de Software:</strong> Ferramentas de desktop e testes automatizados.</li>
                </ul> 
        </div>
    
        <div class="paragrafo">
            <h3>Vantagens na vida Profissional</h3>
            <ul>
                <li><strong>Curva de Aprendizado Suave:</strong> A sintaxe é muito próxima do inglês, o que facilita o aprendizado rápido.</li>
                <li><strong>Alta Empregabilidade:</strong> Praticamente todas as grandes empresas (Google, Netflix, Instagram) utilizam Python.</li>
                <li><strong>Comunidade Gigante:</strong> Se você tiver um problema, alguém já resolveu e postou a solução na internet.</li>
                <li><strong>Salários Atrativos:</strong> Especialistas em Python, especialmente em dados e IA, estão entre os profissionais mais bem pagos do setor tech.</li>
            </ul>
        </div>
    </div>

    <hr>    

    <div class="poo">

        <div class="paragrafo">
            <h2>Programação Orientada a Objeto(POO)</h2>
            <p>A POO é um paradigma de programação, ou seja, uma forma de pensar e organizar o seu código.</p>
        </div>
    
        <div class="paragrafo">
            <h3>O conceito</h3>
            <p>Em vez de focar apenas em funções e lógica sequencial, a POO organiza o software em torno de "Objetos". Imagine que você quer programar um sistema para um petshop:</p>
                <ul>
                    <li><strong>Classe:</strong> É o "molde" ou a planta baixa (Ex: A classe Cachorro).</li>
                    <li><strong>Objeto:</strong> É a instância real criada a partir do molde (Ex: O cachorro "Bobi", que tem nome, idade e cor).</li>
                </ul>           
        </div>

        <div class="paragrafo">
            <h3>Os quatro pilares principais da POO são:</h3>
                <ol>
                    <li><strong>Abstração:</strong> Isolar o que é essencial (esconder a complexidade).</li>
                    <li><strong>Encapsulamento:</strong> Proteger os dados dentro do objeto.</li>
                    <li><strong>Herança:</strong> Criar novas classes baseadas em classes existentes (Ex: Cachorro herda de Animal).</li>
                    <li><strong>Polimorfismo:</strong> Permitir que diferentes objetos respondam à mesma mensagem de formas diferentes.</li>
                </ol>
        </div>

        <div class="paragrafo">
            <h3>Vantagens de utilizar POO</h3>
            <ul>
                <li><strong>Reutilização de Código:</strong>Você escreve uma classe uma vez e a utiliza em vários lugares do projeto.</li>
                <li><strong>Organização e Escalabilidade:</strong>Fica muito mais fácil gerenciar projetos grandes e complexos.</li>
                <li><strong>Manutenção Facilitada:</strong>Se um erro ocorre no comportamento do "Cachorro", você sabe exatamente onde mexer, sem quebrar o resto do sistema.</li>
                <li><strong>Trabalho em Equipe:</strong>Diferentes programadores podem trabalhar em diferentes objetos simultaneamente sem interferências.</li>
            </ul>
        </div>
    </div>
</body>
</html>